body {
    font-family: "Trebuchet MS";
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    overflow: hidden;
    text-align: center;
    color: #fff;
    background-position: center;
    background-size: cover;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

h1 {
    font-size: 3em;
    position: relative;
}

i.wi {
    font-size: 5em;
    line-height: 3em;
}

h2 {
    font-size: 2em;
}

.tooltip {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 50px;
    color: #ffffff;
    background-color: #222;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    transition: opacity 300ms, top 500ms;
;
}

h1:hover .tooltip {
    top: -50px;
    opacity: 1;
}

.clear {
    background-image: url("../images/Clear.jpg");
}

.clouds {
    background-image: url("../images/Clouds.jpeg");
}

.haze {
    background-image: url("../images/fog.jpg");
}

.mist {
    background-image: url("../images/fog.jpg");
}

.rain {
    background-image: url("../images/rain.jpg");
}

.snow {
    background-image: url("../images/snow.jpg");
}


.drizzle {
    background-image: url("../images/drizzle.jpg");
}